@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: #D0D0D0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  width: 100%;
  max-width: 450px;
  background-color: #2c2f35;
  padding: 50px 60px 70px;
  text-align: center;
  border-radius: 25px;
}

.form__title{
  font-size: 30px;
  margin-bottom: 60px;
  color: #ffffff;
  position: relative;
}

.form__title::after{
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: #04BD7D;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.form__group-item{
  background-color: #515966;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  transition: max-height 05s;
  overflow: hidden;
}

.form__item-input{
  width: 100%;
  background: transparent;
  border: 0;
  outline: none;
  padding: 18px 15px;
  color: #ffffff;
}

.form__item-input::placeholder{
  color: #ffffff;
}

.form__button{
  flex-basis: 48%;
  font-size: 16px;
  background-color: #04BD7D;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}

.form__group{
  height: 150px;
}

#icon{
  padding-left: 15px;
  color: #04BD7D;
}
