* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
.container{
  width: 100%;
  height: 100vh;
  background-color: #D0D0D0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 450px;
  background-color: #2c2f35;
  padding: 50px 60px 70px;
  text-align: center;
  border-radius: 25px;
}

.card__header-title {
  font-size: 30px;
  margin-bottom: 60px;
  color: #ffffff;
  position: relative;
}

.card__header-title::after{
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: #04BD7D;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.card__body{
  color:white;
}
